<section class="scroll highlyRecommended">

    <h2 style="margin: 20px; color: #E38B29;">Highly Recommended</h2>

    <div class="flip-wrapper">

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/pizza.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Veggie Pizza</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>

            </p>
          </div>
          <div class="flip-card-back">
            <button class="addcart">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/burger.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Burger Fries Coke</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>

            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/noodles.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Vegetable Chow Mein</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/samosa.jpeg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Samosa</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/Hyderabadi-chicken-Biryani.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Hyderabadi Chicken Biryani</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/pizza.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Veggie Pizza</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/noodles.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
              <h4>Vegetable Chow Mein</h4>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <h3>&#8377 120</h3>
              </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/burger.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
              <h4>Burger Fries Coke</h4>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <h3>&#8377 120</h3>
  
              </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

    </div>


  </section>

  <section class="scroll breakfast" id="breakfast">

    <h2 style="margin: 20px; color: #E38B29;">Breakfast Receipes</h2>

    <div class="flip-wrapper">

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/blueberryoatmeal.jpeg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>BlueBerry Oatmeal</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>

            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/cereal.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Cereal</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>

            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/eggcheesesandwich.jpeg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Egg Cheese Sandwich</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/eggVeggie.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Egg Veggie</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/idli.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Idli</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/Smoked-Salmon-Bagel-Sandwich.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Smoked Salmon Bagel Sandwich</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>


    </div>

  </section>


  <section class="scroll juices" id="juices">

    <h2 style="margin: 20px; color: #E38B29;">Juices</h2>

    <div class="flip-wrapper">

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/applejuice.avif" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Apple Juice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>

            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/grapejuice.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Grape Juice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>

            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/lemonjuice.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Lemon juice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/mangojuice.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Mango juice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/orangejuice.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Orange juice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/pomegranatejuice.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Pomegranate juice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/sugarcanejuice.jpeg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Sugarcane juice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/watermelonjuice.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Watermelon juice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="scroll dinner" id="dinner">

    <h2 style="margin: 20px; color: #E38B29;">Dinner</h2>

    <div class="flip-wrapper">

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/alooparatha.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Aloo Paratha</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>

            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/crispysesametofu.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Crispy Sesame Tofu</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>

            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/indonesian-macro-bowl.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Indonesian Macro Bowl</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/minestronesoup.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Minestrone Soup</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/tomatorice.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Tomato Rice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/lemonrice.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Lemon Rice</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/paneerparatha.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Paneer Paratha</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/curriedvegetablehandpies.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Curried Vegetable Handpies</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/indianstylepotatoes.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Indian Style Potatoes</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/roastedcauliflowerdhal.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Roasted Cauliflower Dhal</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="CUSTOMER/images/spicydhalwitheggs.jpg" alt="Avatar" style="width:100%;height: 200px;">
            <p>
            <h4>Spicy dhal with eggs</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <h3>&#8377 120</h3>
            </p>
          </div>
          <div class="flip-card-back">
            <button>Add to Cart</button>
          </div>
        </div>
      </div>

    </div>
  </section>