
    <div class="footer">
        <div class="left">
            <div class="logo-div">
                <img src="/CUSTOMER/Order_Food/images/Brand logo-cropped.png" alt="">
            </div>
            <div class="icons-div">
                <i class="fa-brands fa-facebook ilarge"></i>
                <i class="fa-brands fa-instagram ilarge"></i>
                <i class="fa-brands fa-youtube ilarge"></i>
                <i class="fa-brands fa-twitter ilarge"></i>
            </div>
        </div>
        <div class="right row mt-4">
            <div class="services col-sm-4">
                <h1>Our Services</h1>
                <p>Fast Delivery</p>
                <p>Food Ordering</p>
                <p>Cook Recipes</p>
                <p>Donations</p>
            </div>
            <div class="features col-sm-4">
                <h1>Features</h1>
                <p>Top  Restaurants</p>
                <p>Master Class Recipes</p>
                <p>User Friendly</p>
                <p>24X7 Customer Support</p>
            </div>
            <div class="contactus col-sm-4">
                <h1>Contact Us</h1>
                <p><i class="fa-sharp fa-solid fa-envelope "></i>&nbsp;&nbsp;  Hungrezy.contactus@iiits.in</p>
                <p><i class="fa-sharp fa-solid fa-envelope "></i>&nbsp;&nbsp; Hungrezy.customercare@outlook.com</p>
                <p><i class="fa-solid fa-user "></i>&nbsp;&nbsp;Admin-Head : Abboju Raviteja</p>
                <p><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Mobile : 6301581943</p>
                <p><a href="/Admin_Login">Admin Login</a></p>
            </div>
            <div class="copyright col-sm-12 text-center mt-4">
                <p><i class="fa-regular fa-copyright"></i>Copyright rights reserved</p>
            </div>
        </div>
    </div>
