<!-- Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="swiper-slide" src="CUSTOMER/images/breakfast.png">
        <a href="#breakfast" class="swiper-items">BREAKFAST</a>
      </div>
      <div class="swiper-slide">
        <img class="swiper-slide" src="CUSTOMER/images/juices.png">
        <a href="#juices" class="swiper-items">JUICES</a>
      </div>
      <div class="swiper-slide">
        <img class="swiper-slide" src="CUSTOMER/images/dinner.png">
        <a href="#dinner" class="swiper-items">DINNER</a>
      </div>
      <div class="swiper-slide">
        <img class="swiper-slide" src="CUSTOMER/images/fastfood.png">
        <a href="#fastfood" class="swiper-items">FASTFOOD</a>
      </div>

      <div class="swiper-slide">
        <img class="swiper-slide" src="CUSTOMER/images/lunch.png">
        <a href="#lunch" class="swiper-items">LUNCH</a>
      </div>

      <div class="swiper-slide">
        <img class="swiper-slide" src="CUSTOMER/images/nearme.png">
        <a href="#nearme" class="swiper-items">NEAR ME</a>
      </div>

      <div class="swiper-slide">
        <img class="swiper-slide" src="CUSTOMER/images/payeazy.png">
        <a href="#payeasy" class="swiper-items">PAY EASY</a>
      </div>

      <div class="swiper-slide">
        <img class="swiper-slide" src="CUSTOMER/images/tablebook.png">
        <a href="#booktable" class="swiper-items">BOOK TABLE</a>
      </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>