body{
    background-color: #FFD8A9;
}

.main-body{
    width: 40vw;
    margin: auto;
    text-align: center;
}

.donate {
    background-color: #FDEEDC;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form button{
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:  #E38B29;
    font-size:larger;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}

button:hover{
    transform: scale(1.05);
}

h2{
    color: #E38B29;
    font-weight: bolder;
}


.form-control:focus{
    box-shadow: none;
    border: 2px solid #E38B29;
}

.form-select:focus{
    box-shadow: none;
    border: 2px solid #E38B29;
}

.image-div{
    display: flex;
    flex-direction: row;
   align-items: center;
}

#food-image{
    width: 70%;
}