*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000000;
  }
  
  .preloader img {
    width: 30rem;
    height: 30rem;
  }

  body {
    background-color: #FFD8A9;
  }

.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: 8vh;
    width: 70vw;
    height: 85vh;
    padding: 10px;
    display: flex;
    background-color: #FDEEDC;
    border-radius: 15px;
}

.container-1{
    padding: 10px;
    width: 60%;
    border-radius: 5px;
}

.container-2{
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.container-3{
    margin: auto;
    width: 75%;
    
}

.container-4{
    width: 100%;
    margin-top: 2vh;
    text-align: center;
}

.container-5{
    display: none;
}

#forgot-password{
    font-size: 12px;
    float: right;
}

img{
    width: 100%;
    height: 80vh;
    border-radius: 5px;
}

#logo{
    font-family: 'Gloock';
    text-align: center;
    font-size: 60px;
    color: #E38B29;
    text-shadow: -1px 0  black, 0 1px black, 1px 0  #FDC830, 0 -1px  #FDC830;
    
}

#avatar{
   height: 12vh;
}

.container-3 h2 {
   
    text-align: center;
}

.error{
    position: absolute;
    width: 100%;
    color: red;
    font-size: x-small;
}

.form-control:focus{
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
}

.form-select:focus{
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
}

#loginForm h2{
    font-family:'Gloock', sans-serif;
    color: gray;
}

#regForm h2{
    font-family:'Gloock', sans-serif;
    color: gray;
}

#login-btn{
    width: 100%;
    background:  #E38B29;  /* fallback for old browsers */
    opacity: 0.9;
}

#login-btn:hover{
    opacity: 1;
}

.tab{
    display: none;
}

#next{
    background-color:  #E38B29;
    color: white;
    float: right;
    margin: 10px;
    width: 100px;
}

#prev{
    float: left;
    margin: 10px;
    width: 100px;
}

select{
    height: 60px;
}

.container-2 a{
    text-decoration: none;
    color: gray;
}

.container-2 a:hover{
    text-decoration: underline;
    
}

.step{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:gray;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.6;
}


.step.active {
    
    background-color:  #E38B29;
    opacity: 1;
}
  

@media  screen and (max-width:900px){
    .container-1{
       width: 0%;
    }

    .container-2{
        margin: auto;
        width: 90%;
    }
    
    .container-3{
        width: 90%;
    }

    .container-5{
        display: block;
        width: 100%;
        margin-top: 2vh;
        text-align: center;
    }
    .container{
        width: 60vw;
    }

}

@media  screen and (max-width:600px){
   
    .container{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding:0;
        border-radius: 0%;
    }
}

@media screen and (max-height:650px){
    .container{
        height: 90vh;
        margin-top: 4vh;
    }
    
    #avatar{
        display: none;
    }

    .container-3 h2{
        display: none;
    }
    
}

@media screen and (max-height:450px){
    .container-2{
        overflow:auto;
    }
}