
body{
    background-color: #FFD8A9;
    padding-top: 7rem;
}

.main-body{
    width: 50%;
    margin: auto;
    padding: 20px 50px;
}

.verification-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}