<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/Restaurants/Add_Menu.css">

</head>

<body onclick="closeMenu()">
    <%- include('../partials/Restaurants_Navbar.ejs') %>

    <div class="main-body">
        <h2>Menu Item</h2>
        <form action="/Add_FoodItem" method="post"  enctype="multipart/form-data">
            <div class="form-floating mb-4 mt-4">
                <input type="text" class="form-control" id="food-item-name" placeholder="Enter Food Item Name" name="name" required>
                <label for="food-item-name" class="form-label">Food Item Name</label>
            </div>
            <div class="mb-4">
                <select class="form-select" id="type" name="type" style="height: 60px;" required>
                    <option value="0">--Select Food Item Type--</option>
                    <option>Non-Veg</option>
                    <option>Veg</option>
                </select>
            </div>

            <div class="form-floating mb-4 mt-4">
                <input type="text" class="form-control" id="food-item-description" placeholder="Enter Food Item Description" name="description" required>
                <label for="food-item-description" class="form-label">Food Item Description</label>
            </div>

            <div class="form-floating mb-4 mt-4">
                <input type="text" class="form-control" id="food-item-cost" placeholder="Enter Food Item Cost" name="cost" required>
                <label for="food-item-cost" class="form-label">Food Item Cost</label>
            </div>
            <div class="mb-4">
                <select class="form-select" id="type" name="category" style="height: 60px;" required>
                    <option value="0">--Select Food Item Category--</option>
                    <option>Recomended</option>
                    <option>Biryani-Rice</option>
                    <option>Curries</option>
                    <option>Bakery</option>
                    <option>Pizza-Burger</option>
                    <option>Soft-Drinks</option>
                    <option>Sweets</option>
                    <option>Lassi-Shakes</option>
                    <option>Tiffins</option>
                </select>
            </div>

            <div class="image-div mt-3 mb-3">
               
                <input type="file" class="form-control form-control-lg" id="food-image"  accept="image/*" name="image" required> 
                <label for="food-image" class="form-label ms-3">Food Item Image</label>
            </div>
           <button type="submit">Add Food Item</button>

        </form>

    </div>




    <%- include('../partials/footer.ejs') %>
    <script src="/CUSTOMER/customer.js"></script>
</body>