<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/ADMIN/Admin_AddRecipe.css">

</head>

<body onclick="closeMenu()">
    <%- include('../partials/Admin_Navbar.ejs') %>

    <div class="main-body">
        <div >
            <h2 class="heading">Food Recipe</h2>
        </div>
        <div class="recipe-form">
            <form action="#">
               <div class="recipe-name mb-4">
                   
                    <label for="recipe-name">Food Item Name :</label>
                    <input type="text" name="" id="recipe-name" class="form-control form-control-lg"><br>
                    <label for="recipe-description">Food Item Description : </label>
                    <textarea type="text" id="recipe-description" cols="30" rows="4" class="form-control"></textarea>
               </div>

               <div class="quick-info mt-4 mb-4">
                    <div>
                        <label for="prep-time">Preparation Time :</label>
                        <input type="text" name="" id="prep-time" class="form-control form-control-lg">
                    </div>
                    <div>
                        <label for="serves">Serves : </label>
                        <input type="text" id="serves" class="form-control form-control-lg">
                    </div>
               </div>

               <div class="ingredients mt-4 mb-4">
                    <label for="ingredients">Ingredients : </label>
                    <textarea name="" id="ingredients" cols="30" rows="8" class="form-control form-control-lg"></textarea>
               </div>

               <div class="procedure mt-4 mb-4">
                    <h4>Procedure : </h4>

                    <label for="step1">Step 1</label>
                    <textarea name="" id="step1" cols="30" rows="8" class="form-control form-control-lg"></textarea>

                    <label for="step2">Step 2 </label>
                    <textarea name="" id="step2" cols="30" rows="8" class="form-control form-control-lg"></textarea>

                    <label for="step3">Step 3</label>
                    <textarea name="" id="step3" cols="30" rows="8" class="form-control form-control-lg"></textarea>
               </div>

               <div class="add-recipe">
                    <button type="submit">Add Recipe</button>
               </div>

            </form>
        </div>

    </div>
    

    <%- include('../partials/footer.ejs') %>
    <script src="/CUSTOMER/customer.js"></script>
</body>