<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/ADMIN/Admin.css">
<script src="/ADMIN/Admin.js" defer></script>
<link rel="stylesheet" href="/CUSTOMER/Order_Food/Explore_Restuarants.css">

</head>

<body onclick="closeMenu()">
    <%- include('../partials/Admin_Navbar.ejs') %>

    <div class="main-body">

    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/CUSTOMER/customer.js"></script>
</body>