<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" href="/CUSTOMER/images/icon.png">
  
  <link rel="stylesheet" href="/CUSTOMER/navbar.css">

  <title>Help & Support</title>

  <link rel="stylesheet" href="CUSTOMER/helpAndSupport.css">
</head>
<body onclick="closeMenu()">

    <%- include('../partials/navbar.ejs') %>
  <div class="main">
    <div class="card">
      <div class="box" id="box">
        <img src="CUSTOMER/images/illustration-box-desktop.svg">
      </div>
      <div class="card-items card-bg">
        <div class="bg">
          <img id="bg" src="CUSTOMER/images/bg-pattern-desktop.svg">
        </div>
        <div class="woman">
          <img id="woman" src="CUSTOMER/images/helpandsupport.jpg">
        </div>
      </div>
      <div class="card-items faq-list">
        <div class="faq"> HELP AND SUPPORT </div>
        <div class="qa">
          <div class="question">
            <div>General Issues</div>
            <div class="arrow">
              <img src="CUSTOMER/images/icon-arrow-down.svg">
            </div>
          </div>
          <div class="answer">
            <div class="qa">
                <div class="question">
                  <div>What is Hungrezy Customer Care Number?</div>
                  <div class="arrow">
                    <img src="CUSTOMER/images/icon-arrow-down.svg">
                  </div>
                </div>
                <div class="answer">
                  We value our customer's time and hence moved away from a single customer care number to a comprehensive chat-based support system for quick and easy resolution.
                </div>
              </div>

              <div class="qa">
                <div class="question">
                  <div>I am unable to place a cash on delivery order</div>
                  <div class="arrow">
                    <img src="CUSTOMER/images/icon-arrow-down.svg">
                  </div>
                </div>
                <div class="answer">
                </div>
              </div>

              <div class="qa">
                <div class="question">
                  <div>I want to unsubscribe from Hungrezy communications</div>
                  <div class="arrow">
                    <img src="CUSTOMER/images/icon-arrow-down.svg">
                  </div>
                </div>
                <div class="answer">
                </div>
              </div>

          </div>
        </div>
        <div class="qa">
          <div class="question">
            <div>How do I reset my password?</div>
            <div class="arrow">
              <img src="CUSTOMER/images/icon-arrow-down.svg">
            </div>
          </div>
          <div class="answer">
            Click “Forgot password” from the login page or “Change password” from your profile page.
            A reset link will be emailed to you.
          </div>
        </div>
        <div class="qa">
          <div class="question">
            <div>Can I cancel my subscription?</div>
            <div class="arrow">
              <img src="CUSTOMER/images/icon-arrow-down.svg">
            </div>
          </div>
          <div class="answer">Yes! Send us a message and we’ll process your request no questions asked.</div>
        </div>
        <div class="qa">
          <div class="question">
            <div>Do you provide additional support?</div>
            <div class="arrow">
              <img src="CUSTOMER/images/icon-arrow-down.svg">
            </div>
          </div>
          <div class="answer">
            Chat and email support is available 24/7. Phone lines are open during normal business hours.
          </div>
        </div>

        <div class="qa">
            <div class="question">
              <div>Legal Terms and Conditions</div>
              <div class="arrow">
                <img src="CUSTOMER/images/icon-arrow-down.svg">
              </div>
            </div>
            <div class="answer">
                <div class="qa">
                    <div class="question">
                      <div>Terms of Use</div>
                      <div class="arrow">
                        <img src="CUSTOMER/images/icon-arrow-down.svg">
                      </div>
                    </div>
                    <div class="answer">
                      These terms of use govern your use of our website. Please read these terms of use carefully.
                    </div>
                  </div>

                  <div class="qa">
                    <div class="question">
                      <div>Privacy Policy</div>
                      <div class="arrow">
                        <img src="CUSTOMER/images/icon-arrow-down.svg">
                      </div>
                    </div>
                    <div class="answer">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis illum in ipsa vero facilis amet aut? Repellat rem, atque iste ipsam, enim fugit esse mollitia alias dicta ratione voluptatem veniam.
                    </div>
                  </div>
            </div>
          </div>

      </div>
    </div>
  </div>
  <script src="CUSTOMER/helpAndSupport.js"></script>
  <script src="CUSTOMER/customer.js"></script> 

</body>

</html>