<%- include('../partials/head.ejs') %>

    <link rel="stylesheet" href="/CUSTOMER/Home.css">
    <script src="/CUSTOMER/Home.js" defer></script>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="section1 mt-5">
       
        <img src="/CUSTOMER/Order_Food/images/image1.png" alt="" >
       
        <div class="search-box">
            <h1 class="mb-5">All Your Favourite<br> Restaurants are here</h1>
            <h4><i class="fa-solid fa-magnifying-glass fa-lg"></i></h4>
            <input type="text">
            <a href="/Restaurants">Find Restaurants</a>
        </div>
    </div>
    <div class="section1">
        <div class="recipe-text">
            <h1>Find All Recipes <br> you want here</h1>
            <a href="/Recipes">Find Recipes</a>
        </div>
        <img src="/CUSTOMER/Order_Food/images/image5.jpg" alt="" >
    </div>

    <%- include('../partials/footer.ejs') %>

    <script src="CUSTOMER/customer.js"></script> 
</body>
</html>