<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <div class="preloader">
            <img src="/CUSTOMER/images/preloader.gif" alt="">
        </div>

        <div class="main">
            <%- include('../partials/navbar.ejs') %>
            <%- include('../partials/swiper.ejs') %>
            <%- include('../partials/flipcard.ejs') %>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="CUSTOMER/customer.js"></script>
        <script src="CUSTOMER/app.js"></script>
    </body>

    </html>