<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/CUSTOMER/style.css">
<link rel="stylesheet" href="/public/CUSTOMER/Home.css">
    </head>

    <body onclick="closeMenu()">
        <div class="preloader">
            <img src="/CUSTOMER/images/preloader.gif" alt="">
        </div>

        <div class="main">
            <%- include('../partials/navbar.ejs') %>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="CUSTOMER/app.js"></script>
        <script src="CUSTOMER/customer.js"></script> 
    </body>

    </html>