<%- include('../partials/head.ejs') %>
<script src="/CUSTOMER/app.js" defer></script>
</head>

<body>
    <div class="preloader">
        <img src="/CUSTOMER/images/preloader.gif" alt="">
    </div>
    <div class="main">
        <%- include('../partials/navbar.ejs') %>
    </div>
</body>
</html>