<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/Restaurants/Restaurants_Home.css">

</head>

<body onclick="closeMenu()">
    <%- include('../partials/Restaurants_Navbar.ejs') %>

    <div class="main-body">
        
        

    </div>




    <%- include('../partials/footer.ejs') %>
    <script src="/CUSTOMER/customer.js"></script>
</body>