<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/Registration/Restaurant_Registration.css">
<script src="/Registration/Restaurant_Registration.js" defer></script>

</head>

<body>
    <div class="container-1">
        <div class="image-container">
            <img src="/CUSTOMER/Order_Food/images/restaurant-bg3.jpg" alt="">
        </div>
        <div class="main-body">
            <h2>Register Your Restaurant</h2>
            <form action="/Register_Restaurant" method="post" enctype="multipart/form-data">
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="restaurant-name" name="restaurantName" onkeyup="nameValidation()" placeholder=" " required>
                    <label for="restaurant-name" class="form-label">Restaurant Name</label>
                    <span class="error ms-1" id="nameError"></span>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="email" class="form-control" id="restaurant-email" name="restaurantEmail" onkeyup="emailValidation()" placeholder=" " required>
                    <label for="restaurant-email" class="form-label">Restaurant Email</label>
                    <span class="error ms-1" id="emailError"></span>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="password" class="form-control" id="password" name="password" onkeyup="passwordValidation()" placeholder=" " required>
                    <label for="password" class="form-label">Password</label>
                    <span class="error ms-1" id="passwordError"></span>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="password" class="form-control" id="cpassword" name="cpassword"onkeyup="confirmPassword()" placeholder=" " required>
                    <label for="password" class="form-label">Confirm Password</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="restaurant-type" name="restaurantType" onkeyup="typeValidation()" placeholder=" " required>
                    <label for="restaurant-type" class="form-label">Restaurant type</label>
                    <span class="error ms-1" id="restaurantTypeError"></span>
                </div>
               
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="delivery-time" name="deliveryTime" onkeyup="deliveryValidation()" placeholder=" " required>
                    <label for="delivery-time" class="form-label">Approx. Delivery Time (in min)</label>
                    <span class="error ms-1" id="timeError"></span>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="cost" name="cost" onkeyup="costValidation()" placeholder=" " required>
                    <label for="cost" class="form-label">Est. Cost per user  (in Rs)</label>
                    <span class="error ms-1" id="costError"></span>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="location" name="location" onkeyup="locationValidation()" placeholder=" " required>
                    <label for="location" class="form-label">Location</label>
                    <span class="error ms-1" id="locationError"></span>
                </div>
    
                <div class=" mt-3 mb-3">
                    <label for="restaurant-image" class="form-label">Restaurant Image</label>
                    <input type="file" class="form-control form-control-lg" id="restaurant-image"  accept="image/*" name="image" placeholder=" " required> 
                </div>
                <div class="mt-4 mb-3">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
