*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFD8A9;
}

p{
    line-height: 1.35;
}
.heading {
    margin: 6rem auto 0 auto;
text-align: center;
}

.container-1,.container-2,.container-3,.container-4{
    width:90%;
    margin: 1rem auto 0 auto;
    display: flex;
    align-items: center;
    padding:1rem;

}
.left-div p{
    margin: 1rem auto 0 auto;
}


.left-div{
    width:40%;
    padding:1rem;
}

.left-div p{
    font-size: 1.25rem;
}

.left-div h1{
    margin-bottom: 1rem;
}

.right-div{
    width: 60%;
    text-align: center;
}

.right-div img{
    width: 80%;
}


@media screen and (max-width:600px) {
    .container-1,.container-3{
        flex-direction: column-reverse;
    }
    .container-2,.container-4{
        flex-direction: column;
    }
}

.right{
    width:80%;
    display: flex;
  justify-content: space-around;
    column-gap: 1rem;
    align-items: center;  
}

.feed-btn{
    display: flex;
    justify-content: center;
}

 .btn{
    background-color: #E38B29;
    color: white;
    border: none;
}

.btn:hover{
    color: white;
    background-color: #E38B29;
}

textarea{
    resize: none;
}

.feed-submit{
    display: flex;
    justify-content: center;
}

.modal-body{
    min-height: 300px;
    padding: 15px 60px;
}

.modal-content{
    background-color:#FFD8A9;
}

